.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .normal {
    background-color: var(--normal);
  }
  .fire {
    background-color: var(--fire);
  }
	.water {
    background-color: var(--water);
  }
	.electric {
    background-color: var(--electric);
  }
	.grass {
    background-color: var(--grass);
  }
	.ice {
    background-color: var(--ice);
  }
	.fighting {
    background-color: var(--fighting);
  }
	.poison {
    background-color: var(--poison);
  }
	.ground {
    background-color: var(--ground);
  }
	.flying {
    background-color: var(--flying);
  }
	.psychic {
    background-color: var(--psychic);
  }
	.bug {
    background-color: var(--bug);
  }
	.rock {
    background-color: var(--rock);
  }
	.ghost {
    background-color: var(--ghost);
  }
	.dragon {
    background-color: var(--dragon);
  }
	.dark {
    background-color: var(--dark);
  }
	.steel {
    background-color: var(-steel);
  }
	.fairy {
    background-color: var(--fairy);
  }

  .pokemon {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 1rem;
  }
  
  .pokemon .number {
    color: var(--white);
    opacity: 0.3;
    text-align: right;
    font-size: 0.625rem;
  }
  
  .pokemon .name {
    margin-bottom: 0.25rem;
    color: var(--white);
    text-transform: capitalize;
  }
  
  .pokemon .details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  .pokemon .details .types {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .pokemon .details .types .type {
    padding: 0.25rem 0.5rem;
    margin: 0.25rem 0;
    border-radius: 2rem;
    color: var(--white);
    font-size: .80rem;
    text-align: center;
    filter: brightness(1.1);
  }
  
  .pokemon .details img {
    align-self: flex-end;
    max-width: 100%;
    height: 70px;
  }

  .pagination{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
  }

  .pagination button {
    padding: .75rem;
    margin: .25rem 0;
    background-color: var(--pink);
    border: none;
    border-radius: 1rem;
    font-size: .90rem;
    color: var(--white);
    cursor: pointer;
  }

@media screen and (min-width: 380px) {
    .pokemons {
      grid-template-columns: 1fr 1fr;
    }
  }

@media screen and (min-width: 576px) {
  .pokemons {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 992px) {
  .pokemons {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}